[Unit]
Description=Bring up CAN interface @CAN_IFACE@
After=sys-subsystem-net-devices-@CAN_IFACE@.device
BindsTo=sys-subsystem-net-devices-@CAN_IFACE@.device
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/can0
ExecStart=/usr/sbin/can0-up.sh
ExecStop=/sbin/ip link set @CAN_IFACE@ down

[Install]
WantedBy=multi-user.target
