[Unit]
Description=Tailscale node agent
Documentation=https://tailscale.com/kb/
Wants=network-online.target
After=network-online.target NetworkManager.service

[Service]
Environment=TS_LOGS_DIR=/data/tailscale
ExecStartPre=/usr/sbin/tailscaled --cleanup --statedir=/data/tailscale
ExecStart=/usr/sbin/tailscaled --statedir=/data/tailscale --socket=/run/tailscale/tailscaled.sock --port=41641
ExecStopPost=/usr/sbin/tailscaled --cleanup --statedir=/data/tailscale
Restart=on-failure
RuntimeDirectory=tailscale

[Install]
WantedBy=multi-user.target
