[Unit]
Description=Seat management daemon
Documentation=man:seatd(1)
DefaultDependencies=no
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/bin/seatd -g video -n 1
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
